@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
body {
  background: #dadada;
}
.nav-container {
  position: sticky;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #131921;
  padding: 10px 20px;
  color: #fff;
  gap: 8px;
}

.nav-country {
  display: flex;
  align-items: end;
  margin-left: 15px;
  font-size: 13px;
  color: #d4d4d4;
}
.nav-country {
  color: #fff;
  font-size: 14px;
}
.nav-search {
  flex: 1;
  display: flex;
  align-items: center;
  background: #fff;
  color: gray;
  max-width: 1000px;
  border-radius: 4px;
  margin-left: 15px;
}
.nav-search-gategory {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 5px;
  background: #e5e5e5;
  border-radius: 4px 0 0 4px;
}
.nav-search-input {
  border: none;
  outline: none;
  padding-left: 20px;
  width: 100%;
}
.nav-search-icon {
  max-width: 41px;
  padding: 8px;
  background: #ffd64f;
  border: 0 4px 4px 0;
}
.nav-language {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 600;
  margin-left: 15px;
}
.dropdown__menu
.nav-text {
  margin-left: 15px;
}
.nav-text p {
  font-size: 12px;
}
.nav-text h1 {
  font-size: 14px;
}
.nav-cart {
  display: flex;
  align-items: center;
  margin: 0px 15px;
}
.nav-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px 20px;
  background: #232f3e;
  color: #fff;
  font-size: 15px;
}
.nav-bottom div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}
.swiper {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(#fff);
}
.swiper-slide {
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(#fff);
}
#slider1 {
  background-image: url(/assets/slider1.jpg);
  background: linear-gradient(#fff #0a6beb);
}
#slider2 {
  background-image: url(/assets/slider2.jpg);
  background-image: linear-gradient(#fff #f0861d);
}
#slider3 {
  background-image: url(/assets/slider3.jpg);
}
#slider4 {
  background-image: url(/assets/slider4.jpg);
}
#slider5 {
  background-image: url(/assets/slider5.jpg);
}
#slider6 {
  background-image: url(/assets/slider6.jpg);
}
.box-row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
  margin: 20px 30px;
}
.box-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px;
  background: #ffffff;
  max-width: 24%;
  min-height: 200px;
  z-index: 1;
}
.box-col a {
  font-size: 13px;
  color: #009999;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.header-box {
  margin-top: -10vw;
}
.products-slider {
  background: #ffffff;
  margin: 0 30px;
  padding: 20px;
  margin-bottom: 15px;
}
.products-slider .products {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  margin-top: 10px;
}
.products-slider .products img {
  max-width: 200px;
  max-height: 500;
}
.products-slider .products::-webkit-scrollbar {
  display: none;
}
.nav-down{
  display: flex;
  justify-content: center;
  background: #ffffff;
  cursor: pointer;
  align-self: center;
}
.footer{
  background: #37475A;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 18px;
  height: 40px;
}
.footer2{
  background: #37475a;
  height: 340px;
  color: #cbdddd;
  font-size: 16px;
  display: flex;
  justify-content: left;
}
.bold{
  font-size: 20px;
  color: white; 
}
.spacing{
  line-height: 15px;
}
.footer3{
  display: flex;
  justify-content: center;
  align-items: end;
}
.customer-footer{
  background-color: #232f3e;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cust-first{
  color: white;
  font-size: 17px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  }
.cust-second{
  color: #d1dddd;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  margin-right: 8px;
  cursor: pointer;
}
.nav-down{
  padding: 5px;
}